django
django-debug-toolbar
psycopg2-binary
djangorestframework
drf-nested-routers
django-filter

djoser # For user authentication and management
djangorestframework-simplejwt # For JWT authentication